.contactBlock
  text-align: center
.contactList
  color: black
  font-weight: bold
  width: max-content
  margin: auto
  padding: 0
  text-align: left

.contact
  display: flex
  align-items: center
  height: 60px
  border-bottom: 1px dotted

.contactDes
  display: block

.contactImg
  display: block
  margin-right: 10px
  border-radius: 40px

.contactName
  display: block
  margin-right: 10px

.contactNumber
  display: block

.contactSearch
  width: 180px
  border-radius: 3px
  margin-bottom: 15px
