.root
  padding: 20px
  border: 1px solid
  height: auto
  margin: 10px 0 0 0
  text-align: center
  display: flex
  justify-content: space-around

img {
  width: 65px;
  height: auto;
  margin: 10px auto 0;
}