.root
  padding: 20px 0
  border: 1px solid
  width: 135px
  height: auto;
  margin: 10px
  text-align: center
  position: relative
  background: url(http://festofale.ca/wp-content/uploads/2016/02/parchment-bg4.jpg)
  background-size: cover
  border-radius: 5px

.root__img
  width: 80px
  height: auto
  margin: 0 auto 5px auto

.root__name
  color: #fff
  border: 1px solid #000
  border-right: 0
  border-left: 0
  font-size: 15px
  font-weight: bold
  padding: 0
  margin: 0
  white-space: pre
  background: linear-gradient(to bottom, #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%)
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000

.root__damage
  position: absolute
  top: 0
  color: #fff
  font-size: 15px
  font-weight: bold
  padding: 4px
  margin: 0
  background: #3F51B5
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000

.root__health
  color: #e81d62
  font-weight: bold
  font-size: 15px
  margin-top: 5px

